body {
    text-align: center;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

h2 {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

h3 {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
