[main]
last_wiki = Z:\home\rok\development\GitHub\rokdoltar1.github.io\GitHubIO_wiki\GitHubIO\GitHubIO.wiki
toolbar_show = True
wiki_history = Z:\home\rok\development\GitHub\rokdoltar1.github.io\GitHubIO_wiki\GitHubIO\GitHubIO.wiki;Z:\home\rok\Dropbox\Public\ideje_wiki\Ideje\Planiram.wiki
last_active_dir = Z:\home\rok\development\GitHub\rokdoltar1.github.io\GitHubIO_wiki\GitHubIO
timeview_position = 2
windowlayout = name:main area panel;layout relation:left&name:maintree&layout sash position:266&layout sash effective position:266&layout relative to:main area panel;layout relation:right&name:time view&layout sash position:1&layout sash effective position:231&layout relative to:main area panel;layout relation:left&name:doc structure&layout sash position:1&layout sash effective position:158&layout relative to:main area panel;layout relation:below&name:log&layout sash position:1&layout sash effective position:120&layout relative to:main area panel;layout relation:below&name:vi input&layout sash position:0&layout sash effective position:120&layout relative to:main area panel
docstructure_position = 1
size_x = 1673
size_y = 878
pos_x = 174
pos_y = 84
windowmode = 0
frame_stayontop = False
timeview_lastselectedtab = modified
wikiwidehistory_columnwidths = 100,100
export_lastdialogtag = html_single
single_process = True
zombiecheck = True
cpu_affinity = -1
wikipathes_relative = False
wikiopennew_defaultdir = 
collation_order = Default
collation_uppercasefirst = False
wikiword_renamedefault_modifywikilinks = off
wikiword_renamedefault_renamesubpages = True
hotkey_showhide_byapp_isactive = True
hotkey_showhide_byapp = 
temphandling_prefermemory = False
temphandling_tempmode = system
temphandling_tempdir = 
showontray = True
minimize_on_closebutton = True
maintabs_switchmruorder = True
startup_splashscreen_show = True
openworddialog_askforcreatewhennonexistingword = True
pagestatus_timeformat = %x %I:%M %p
gui_language = 
recentwikislist_length = 5
log_window_autoshow = True
log_window_autohide = True
docstructure_depth = 15
docstructure_autohide = False
docstructure_autofollow = True
process_autogenerated_areas = False
insertions_allow_eval = False
script_security_level = 0
script_search_reverse = False
maintree_position = 0
viewstree_position = 0
tree_auto_follow = True
tree_update_after_save = True
hideundefined = False
tree_no_cycles = False
tree_autohide = False
tree_bg_color = 
tree_font_nativedesc = 
tree_updategenerator_mindelay = 0.1
start_browser_after_export = True
facename_html_preview = 
html_preview_proppattern_is_excluding = False
html_preview_proppattern = 
html_export_proppattern_is_excluding = False
html_export_proppattern = 
html_preview_pics_as_links = False
html_export_pics_as_links = False
export_table_of_contents = 0
html_toc_title = Table of Contents
html_export_singlepage_seplinecount = 10
html_preview_renderer = 0
html_preview_ieshowiframes = False
html_preview_webkitvikeys = False
html_body_link = 
html_body_alink = 
html_body_vlink = 
html_body_text = 
html_body_bgcolor = 
html_body_background = 
html_header_doctype = DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"
sync_highlight_byte_limit = 400
async_highlight_delay = 0.2
editor_shorthint_delay = 500
editor_autounbullets = True
editor_autocomplete_closingbracket = False
editor_sync_bypreviewselection = False
editor_colorizesearchfragments = False
attributedefault_global.wrap_type = word
editor_tabwidth = 4
editor_imagetooltips_localurls = True
editor_imagetooltips_maxwidth = 200
editor_imagetooltips_maxheight = 200
editor_imagepaste_filenameprefix = 
editor_imagepaste_filetype = 1
editor_imagepaste_quality = 75
editor_imagepaste_askoneachpaste = True
editor_filepaste_prefix = 
editor_filepaste_middle = \x20
editor_filepaste_suffix = 
editor_filepaste_bracketedurl = True
userevent_event/paste/editor/files = action/editor/this/paste/files/insert/url/ask
editor_plaintext_color = 
editor_link_color = 
editor_attribute_color = 
editor_bg_color = 
editor_selection_fg_color = 
editor_selection_bg_color = 
editor_margin_bg_color = 
editor_caret_color = 
mouse_reversewheelzoom = False
mouse_middlebutton_withoutctrl = 1
mouse_middlebutton_withctrl = 0
userevent_mouse/leftdoubleclick/preview/body = action/none
userevent_mouse/middleclick/pagetab = action/none
userevent_mouse/leftdoubleclick/pagetab = action/none
userevent_mouse/leftdrop/editor/files = action/editor/this/paste/files/insert/url/absolute
userevent_mouse/leftdrop/editor/files/modkeys/shift = action/editor/this/paste/files/insert/url/relative
userevent_mouse/leftdrop/editor/files/modkeys/ctrl = action/editor/this/paste/files/insert/url/tostorage
timeview_dateformat = %Y %m %d
timeview_autohide = False
timeview_showwordlistonhovering = True
timeview_showwordlistonselect = False
timeline_showemptydays = True
timeline_sortdateascending = True
versioning_dateformat = %Y %m %d
wikiwidehistory_dateformat = %x %I:%M %p
newwikidefault_editor_text_mode = False
newwikidefault_wikipagefiles_asciionly = False
search_stripspaces = False
search_wiki_searchtype = 0
search_wiki_casesensitive = False
search_wiki_wholeword = False
search_wiki_context_before = 20
search_wiki_context_after = 30
search_wiki_count_occurrences = True
search_wiki_max_count_occurrences = 100
incsearch_autooffdelay = 0
fastsearch_searchtype = 0
fastsearch_casesensitive = False
fastsearch_wholeword = False
wikilockfile_ignore = False
wikilockfile_create = False
editor_useimeworkaround = False
menu_accels_kbdtranslate = False
search_dontallowcancel = False
editor_compatibility_vikeys = False
mouse_scrollunderpointer = False
html_preview_reduceupdatehandling = False
auto_save = True
auto_save_delay_key_pressed = 5
auto_save_delay_dirty = 60
clipboardcatcher_prefix = 
clipboardcatcher_suffix = \n
clipboardcatcher_filterdouble = True
clipboardcatcher_usernotification = 0
clipboardcatcher_soundfile = 
new_window_on_follow_wiki_url = 1
editor_paste_typeorder = files;plainText;bitmap;wmf;rawHtml
plugin_gnuplot_exepath = 
plugin_graphviz_direxe = 
plugin_graphviz_exedot = dot.exe
plugin_graphviz_exeneato = neato.exe
plugin_graphviz_exetwopi = twopi.exe
plugin_graphviz_execirco = circo.exe
plugin_graphviz_exefdp = fdp.exe
plugin_graphvizstructure_nodefacename = 
plugin_graphvizstructure_nodefontsize = 0
plugin_graphvizstructure_nodebordercolor = 
plugin_graphvizstructure_nodebgcolor = 
plugin_graphvizstructure_edgecolor = 
plugin_mimetex_exepath = 
plugin_ploticus_exepath = 
plugin_ploticus_outputformat = 0
editor_tabstospaces = False

