[main]
last_wiki = Z:\home\rok\Dropbox\Public\ideje_wiki\Ideje\Ideje.wiki
toolbar_show = True
wiki_history = Z:\home\rok\Dropbox\Public\ideje_wiki\Ideje\Ideje.wiki
last_active_dir = Z:\home\rok\Dropbox\Public\ideje_wiki\Ideje
timeview_position = 2
windowlayout = name:main area panel;layout relative to:main area panel&layout relation:left&name:maintree&layout sash effective position:170&layout sash position:170;layout relative to:main area panel&layout relation:right&name:time view&layout sash effective position:231&layout sash position:1;layout relative to:main area panel&layout relation:left&name:doc structure&layout sash effective position:158&layout sash position:1;layout relative to:main area panel&layout relation:below&name:log&layout sash effective position:120&layout sash position:1;layout relative to:main area panel&layout relation:below&name:vi input&layout sash effective position:120&layout sash position:0
docstructure_position = 1
size_x = 1204
size_y = 888
pos_x = 1918
pos_y = 31
windowmode = 0
frame_stayontop = False
timeview_lastselectedtab = modified
wikiwidehistory_columnwidths = 100,100

