


	/* TO NE VALJA */


body {
	font-size: 12px;
	/* font-family: Courier New; */
	/* font-family: Consolas; */
	font-family: Courier New, monospace;
	text-shadow: hsla(200, 20%, 90%, 1) 1px 0 5px;
	/* background: #f0f0f0; */
	background: #A00;

}

pre {
	font-size: 95%;
	line-height: 90%;
	white-space: pre;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
}

.heading-level1 {
	margin-top: 20px;
	font-size: 18px;
	margin-bottom: 20px;
	margin-left: 5px;
	border-bottom: 1px solid hsla(200, 50%, 90%, 0.5);
}

.heading-level2 {
	margin-top: 15px;
	font-size: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	border-bottom: 1px solid hsla(200, 50%, 90%, 0.5);
}

.heading-level3 {
	margin-top: 10px;
	font-size: 14px;
	margin-bottom: 10px;
	margin-left: 25px;
	border-bottom: 1px solid hsla(200, 50%, 90%, 0.5);
}

.heading-level4 {
	margin-top: 5px;
	font-size: 12px;
	margin-bottom: 5px;
	margin-left: 35px;
}

.heading-level5 {
	font-size: 12px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 45px;
}

.bulletlist {
	margin-bottom: 0px;
	margin-top: 0px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.wikidpad.wiki-name-ref, .wikidpad.parent-nodes, .wikidpad.property.attribute {
	display: none;
}

hr.wikidpad {
	height: 30px;
	border-style: solid;
	border-color: black;
	border-width: 1px 0 0 0;
	border-radius: 20px;
}

hr.wikidpad {
	border: 0;
	height: 1px;
	/*	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); */
	background-image: linear-gradient(to right, hsla(200, 20%, 90%, 1), hsla(200, 20%, 50%, 1), hsla(200, 20%, 90%, 1));
}

img.wikidpad {
	max-width: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.ure {
	font-size: 12px;
	margin-left: 25px;
	font-style: italic;
}

.wiki-file-link {
	font-size: 12px;
	margin-left: 15px;
	font-style: italic;
	text-decoration: none;
}

a {
	text-decoration: none;
}

a {
	color: #900;
	text-decoration: none;
}

a:hover {
	color: red;
	position: relative;
}

a[title]:hover:after {
	content: attr(title);
	padding: 4px 8px;
	color: #333;
	position: absolute;
	left: 0;
	top: 100%;
	white-space: nowrap;
	z-index: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 4px #222;
	-webkit-box-shadow: 0px 0px 4px #222;
	box-shadow: 0px 0px 4px #222;
	background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(1, #cccccc));
	background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}

#main-content a:visited:before {
	content: "\21E2 ";
}

li::before {
	content: "\21E2 ";
	font-weight: bold;
}

::selection {
    color: red;
    background: hsla(200, 20%, 90%, 1);
}

li.todo::before {
	/* content: "\2714 "; */
	content: "\21E2 ";
	/* font-weight: bold; */
}









ul {
  list-style: none;
}









/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: 	 */
/* Feel free to copy&paste color codes to your application */
/* As hex codes */
.color-primary-0 { color: #2A4F6E }	/* Main Primary color */
.color-primary-1 { color: #6C7E8D }
.color-primary-2 { color: #48657D }
.color-primary-3 { color: #123B5E }
.color-primary-4 { color: #042D4E }

/* As RGBa codes */
.rgba-primary-0 { color: rgba( 42, 79,110,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(108,126,141,1) }
.rgba-primary-2 { color: rgba( 72,101,125,1) }
.rgba-primary-3 { color: rgba( 18, 59, 94,1) }
.rgba-primary-4 { color: rgba(  4, 45, 78,1) }
